/*Resetea todos los elementos. Le quita el padding, el margen y el box-sizing: border-box 
hace que el margin y el padding no ocupen espacio*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* El en root creo variables globales con los colores de las redes sociales*/
:root {
    --instagram: #d70bc6;
    --github: #0c0d0d;
}

/* Aplico color de fondo a la página web y una fuente.*/
body {
    background-color: #dfdfdf56;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}

/* Añado color, sombra y alineación al título y al subtítulo. */
h1,
.subtitle {
    color: #e152d7;
    padding-bottom: 40px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

/* Añado al título tamaño y estilo cursivo de fuente. También lo bajo un poco hacia el centro del header. */
h1 {
    font-size: 60px;
    font-style: italic;
    padding-top: 50px;
}

/* Añado al link del trabajo extra, color y lo alineo para que quede abajo de todo a la izquierda. */
.extra_cv {
    color: #0c0d0d;
    padding-left: 20px;
    text-align: center;
}

/* Añado tamaño de altura, bordes y centro el texto.*/
main {
    text-align: center;
}

/* Añado color de fondo y centro el texto del contenedor address. */
address {
    background-color: rgb(197, 136, 101);
    padding-bottom: 15px;
    padding-top: 20px;
    text-align: center;
}

/*Alinea los iconos y el contenido en el centro*/
.redes_container .copyright {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

/*Modifica los elementos li separándolos de forma horizontal,  con márgenes de 
distancia entre ellos y alineándolos al centro (al elemento a)*/
.redes_container ul li {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    text-align: center;
    width: 50px;
}

/*Estilización de los elementos a. Le da a cada ícono, el color gris con fondo blanco
con una sobra difuminada con una velocidad de transición, bordes redondeados y los alinea.*/
.redes_container ul li a {
    background: #333;
    border-radius: 10px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 30px;
    padding: 8px 5px 0;
    transition: .2s;
}

/*Hace que al pasar el cursor sobre los íconos de redes sociales, estos se vean desenfocados (efecto blur).*/
.redes_container ul:hover a {
    filter: blur(2px);
}

/*Esto hace el efecto de que al posar el cursor sobre uno de los íconos de redes sociales, 
éste se destaque en tamaño y no esté desenfocado como los íconos restantes.*/
.redes_container ul li a:hover {
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
    transform: translateY(-3px) scale(1.05);
}

/*Aquí hacemos uso de las variables con los colores para cada red social,aplicándola
al ícono correspondiente a cada una. De manera que al pasar el cursor sobre el elemento, 
éste se destaque cambiando de tamaño y de color sin difuminarse.*/
.redes_container ul li .instagram:hover {
    background: var(--instagram);
}

.redes_container ul li .github:hover {
    background: var(--github);
}

nav {
    text-align: center;
    
}
